body {
    font-family: "Calibri", sans-serif;
    font-weight: 600;
}

h1 {
    text-align: center;
}
.menu {
    background-color: coral;
    color: bisque;
    font-size: 22px;
    font-variant: small-caps;
}

.menu a {
    text-decoration: none;
    color: bisque;
}

.menu ul {
    list-style-type: none;
    text-align: center;
}

.menu li {
    display: inline;
    padding-inline: 10%;
}

.menuiframe {
    width: 100%;
    border: none;
    height: 200px;
}